---
import Base from '../layout/Base.astro'
import { Markdown } from 'astro/components'
---

<style>
	img {
		max-width: 100%;
	}
</style>

<Base title="Hello">
<h1>Build and Deploy Session One</h1>
<p>Here is our group photo!</p>
<img src="/images/build-and-deploy.jpg" alt="session one group photo" />

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo earum molestiae totam excepturi tempora deleniti nobis pariatur, repellendus labore minima vero ipsum vel error veritatis quos, distinctio facilis optio voluptate.</p>

<Markdown>
	## Write markdown here

	Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, magni. Accusamus, illum alias obcaecati dignissimos corporis dicta maxime harum sapiente inventore ipsa, voluptas nobis blanditiis. Reiciendis officia reprehenderit nobis earum.

	Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti esse iste optio repellendus eum. Sit quas, veniam nam ipsam expedita necessitatibus minus repudiandae adipisci in ipsum asperiores tempore earum reiciendis!

	Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque consequatur omnis error consectetur tempora incidunt numquam tempore quis, necessitatibus ullam quod molestias odit optio. Maxime necessitatibus dolores velit explicabo eveniet?
</Markdown>

</Base>