---
import Base from '../layout/Base.astro'
---

<style>
	img {
		max-width: 100%;
	}
</style>

<Base title="Hello">
<h1>Build and Deploy Session One</h1>
<p>Here is our group photo!</p>
<img src="/images/build-and-deploy.jpg" alt="session one group photo" />

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo earum molestiae totam excepturi tempora deleniti nobis pariatur, repellendus labore minima vero ipsum vel error veritatis quos, distinctio facilis optio voluptate.</p>

</Base>